@using FYProject1Classes.BannerMgmt
@using FYProject1.Models
@{
    ViewBag.Title = "LK' eCamera Shop";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    List<MainBanner> banners = ViewBag.banners;
    List<CameraSummaryModel> cameras = ViewBag.indexProducts;
    int count = 0;
    int numb = 0;

}

<!-- RIGHT SECTION -->

<div class="col-lg-9">

    <!-- Image/Banner Slider -->

    <div id="slider" class="carousel slide" data-ride="carousel">

        <!-- Intializers & Indicators -->

        <ol class="carousel-indicators">
            @foreach (var dummy in banners)
            {
                if (count <= 0)
                {
                    <li data-target="#slider" data-slide-to="@count" class="active"></li>
                }
                else
                {
                    <li data-target="#slider" data-slide-to="@count"></li>
                }
                count++;
            }
        </ol>

        <!-- Slider Inner Part (IMAGES) -->

        <div class="carousel-inner">

            @foreach (var b in banners)
            {
                if (numb <= 0)
                {
                    <div class="item active">
                        <img class="img-responsive" src="@b.Banner_Url" alt="loading..." />
                    </div>
                }
                else
                {
                    <div class="item">
                        <img class="img-responsive" src="@b.Banner_Url" alt="loading..." />
                    </div>
                }
                numb++;
            }

        </div>

        <!-- Next & Previous Buttons -->

        <a class="left carousel-control" href="#slider" data-slide="prev">
            <span class="icon-prev"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#slider" data-slide="next">
            <span class="icon-next"></span>
            <span class="sr-only">Next</span>
        </a>


    </div>

    <div class="row">
        <!--style="margin-top:61px">-->

        <div class="col-lg-12">
            <a href="@Url.Action("SuperDeal","Product")" class="text-capitalize text-center" style="text-decoration:none">
                <div class="adbarmainpage">
                    Super DEAL <i class="glyphicon glyphicon-gift"></i> CLICK NOW !
                </div>
            </a>
        </div>

        <!-- PRODUCT ITEMS LIST -->
        <div>
            @Html.Partial("~/Views/Shared/_ProductsSummaryView.cshtml", cameras)
        </div>

    </div>
</div>


@section myScript{
    <script src="~/Scripts/blazy.min.js"></script>
    <script type="text/javascript">
        var bLazy = new Blazy();
        setTimeout(() => {
            roar("<strong><u>Notice</u></strong>", "Demo Site For Testing Purpose Only<br/> Not Ready To Shop.", { confirmText: "Close" });
        }, 5000);

        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c5ae1fb7cf662208c944ffe/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
}