@model FYProject1Classes.BannerMgmt.MainBanner
@{
    ViewBag.Title = "🚨 Banner Delete Confirm?";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="list-group-item-heading text-center notextselect">Banners Managment</h3>

<div class="col-lg-9">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Banner</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Caption)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Caption)
            </dd>

            <dt>
                Banner
            </dt>

            <dd>
                <img src="@Url.Content(Model.Banner_Url)" class="img-responsive img-rounded" />
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "BannerManagment")
            </div>
        }
    </div>
</div>