@model FYProject1Classes.BannerMgmt.MainBanner

@{
    ViewBag.Title = "🚨 Banner Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="list-group-item-heading text-center notextselect">Banners Managment</h3>
<div class="col-lg-9">
    @using (Html.BeginForm(new { htmlAttributes = new { id = "addbannerform", enctype = "multipart/form-data" } }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit Banner</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Caption, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Banner Image", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="banner" name="banner" style="margin-top:5px" />
                    @Html.ValidationMessageFor(model => model.Banner_Url, "", new { @class = "text-danger" })
                    <div id="preview"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Back to List", "BannerManagment")
    </p>
    <br />
    <br />
</div>

@section MyScript{
    <script src="~/Scripts/BannerPreview.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#banner").on("change", previewImages);
        });
    </script>
}