@model FYProject1Classes.BannerMgmt.MainBanner
@{
    ViewBag.Title = "🚨 Banner Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="list-group-item-heading text-center notextselect">Banner Managment</h3>

<div class="col-lg-9">
    <div>
        <h>Banner Details</h>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Caption)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Caption)
            </dd>

            <dt>
                Banner Image
            </dt>

            <dd>
                <img src="@Url.Content(Model.Banner_Url)" class="img-responsive img-rounded" />
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "BannerEdit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "BannerManagment")
    </p>
</div>