@using FYProject1.Models
@using FYProject1Classes
@using FYProject1Classes.UserMgmt


@{
    User currentUser = (User)Session[WebUtil.CURRENT_USER];
}


<!Doctype html>
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <style type="text/css">
        @RenderSection("CustomStyles", false)
    </style>

</head>

<body>

    <!-- ---------- Top BAR ---------- -->

    <div class="topbar" style="font-style:italic">

        <div class="topbarlogo">
            @*<img src="~/Content/linkedin.png" alt="Logo" width="28"/>*@
            <a href="@Url.Action("Index","Home")" style="color:antiquewhite"><h5>LK <i class="glyphicon glyphicon-camera"></i> Shop</h5></a>
        </div>

        <div class="topbararea">
            @if (currentUser != null)
            {
                <div>
                    | Welcome
                    <a style="color:silver; font-style:normal; font-size:15px; font-weight:500; cursor:pointer">
                        <i class="glyphicon glyphicon-user"></i>
                        @currentUser.FullName
                    </a> |

                    @Html.ActionLink("Home", null, new { style = "color: antiquewhite" })
                    @Html.ActionLink("Logout", "Logout", "User", null, new { style = "color: antiquewhite; float: right" }) |

                    @if (currentUser.IsInRole(WebUtil.ADMIN_ROLE))
                    {
                        @Html.ActionLink("Admin Panel", "Admin", "Home", null, new { style = " color: antiquewhite" })
                    }


                </div>
            }
            else
            {
                <div style="float: right">
                    <i class="lahore-temp"></i>
                    @Html.ActionLink("Login", "Login", "User", null, new { style = "color: antiquewhite" }) |
                    @Html.ActionLink("SignUp", "SignUp", "User", null, new { style = "color: antiquewhite" })
                </div>
                <div>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: antiquewhite" })</div>
                <div class="clearsec"></div>
            }




        </div>
    </div><div class="clearsec"></div>

    <!-- ---------- Central Work Area ---------- -->
    <div>
        @RenderBody()
    </div>

    <!-- ---------- BOTTOM BAR ---------- -->

    <div class="bottombar navbar-fixed-bottom" style="margin-top:11px">
        <div class="bottombararea">
            <small>&copy; Copyright | [LK']-Stud!os &trade; | Arslan Ameer</small>
        </div>
    </div>

    <!-- ------------ Java Scripting Here ------------ -->

    <script src="~/Scripts/jquery-2.2.3.intellisense.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        const apiKey = "4a9232de37b1880944eb4e365aa69011";
        const url = `https://api.openweathermap.org/data/2.5/weather?APPID=${apiKey}&units=metric&q=lahore,pk`;

        var temp = document.querySelector(".lahore-temp");


        function apiCall() {
            fetch(url).then((response) => {
                return response.json();
            }).then((data) => {
                temp.innerHTML = data.main.temp_max + "&deg;C";
            }).catch((error) => {
                console.log(error);
            });
        };

        setInterval(apiCall(), 300000);

    </script>
    @RenderSection("MyScript", false)

</body>
</html>