@using FYProject1.Models
@using FYProject1Classes
@using FYProject1Classes.UserMgmt
@using FYProject1Classes.ProductMgmt

@{
    User currentUser = (User)Session[WebUtil.CURRENT_USER];
    List<Brand> brand = new ProductHandler().GetBrands();
    List<Category> category = new ProductHandler().GetCategories();
}

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122091000-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-122091000-1');
    </script>

    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Arslan Ameer" />
    <meta name="description" content="LK-OnlineCameraShop" />

    @*<link href="~/ImagesData/favicon.gif" rel="icon" type="image/gif" />*@
    <link type="image/x-icon" rel="icon" href="~/ImagesData/favicon.png" />

    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-magnify.css" rel="stylesheet" />
    <link href="~/Content/roar.min.css" rel="stylesheet" />
    <link href="~/Content/notifier.min.css" rel="stylesheet" />

    @RenderSection("myStyles", false)

</head>
<body>


    <!-- TopBar (NAVBAR) -->

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Left Most Logo and Page TITLE -->

            <div class="navbar-header">

                <!--Collapsable Navbar button for small screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#colNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index","Home")" class="navbar-brand">LK' <span class="fa fa-camera"></span> Sh<i class="fa fa-spinner fa-spin" style="font-size:small"></i>p</a>
            </div>

            <div class="collapse navbar-collapse" id="colNav">

                <!-- Next icons/Lists of Options in Unordered List Type -->

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li><a href="#">What's Coming!</a></li>

                    <!--Simple dropdown list in ul > li -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Follow Us <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="fa fa-facebook-official"></span>  Facebook</a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span> Instagram</a></li>
                        </ul>
                    </li>



                    <!-- User Detail Dropdown with custom CSS -->

                    @if (currentUser != null)
                    {
                        <li class="dropdown notextselect">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user-circle-o fa-lg"></span> @currentUser.FullName <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div style="width:80px;height:95px">
                                                    @foreach (var image in currentUser.UserImage)
                                                    {
                                                        <img class="img-responsive img-rounded" style="width:100%; height:100%" alt="@image.Caption" src="@Url.Content(image.Url)" />
                                                    }

                                                    @*<p class="text-center"><span class="glyphicon glyphicon-user icon-size"></span></p>*@
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>@currentUser.FullName</strong></p>
                                                <p class="text-left small">@currentUser.Email</p>
                                                <p class="text-left">
                                                    <a href="@Url.Action("UserGuestUpdate","User", new { id = currentUser.Id})" class="btn btn-default btn-block">UPDATE</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        if (currentUser.IsInRole(WebUtil.ADMIN_ROLE))
                        {
                            <li>@Html.ActionLink("Admin Panel", "AdminPanel", "Admin")</li>
                        }
                    }




                </ul>

                <!-- Nav Bar Right Area Buttons -->

                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-top: 15px"><i class="lahore-temp"></i></li>
                    <li style="font-size: 20px"><a href="@Url.Action("ViewCart", "cart")"><span class="fa fa-shopping-cart"></span> <i id="cartitems" style="font-size: 10px" class="badge">0</i></a></li>
                    @if (currentUser != null)
                    {
                        <li><a href="@Url.Action("Logout", "User")"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("SignUp", "User")"><span class="fa fa-user-plus fa-lg"></span> SignUp</a></li>
                        <li><a href="@Url.Action("Login", "User")"><span class="fa fa-sign-in fa-lg"></span> Login</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <div style="position: fixed; top: 0; left: 45%; z-index: 999; background-color: cornsilk; color: black; height: 40px"> <h4>DEMO / TESTING</h4> </div>

    <!-- Main Page BODY -->

    <div class="container">
        <div class="row">

            <!-- LEFT SECTION -->
            <div class="col-lg-3 col-md-3">
                <div class="list-group">
                    <h4 data-toggle="collapse" data-target="#camCol" class="list-group-item-heading text-center notextselect" style="margin-bottom: 20px; cursor: pointer">
                        C<i class="fa fa-camera"></i>MERA Brands
                    </h4>
                    <div id="camCol" class="collapse in">
                        @foreach (var b in brand)
                        {
                            <a href="@Url.Action("ProductsByBrand","Home",new { id = Convert.ToInt32(b.Id) })" class="list-group-item">@b.Name</a>
                        }
                    </div>
                </div>

                <div class="list-group">
                    <h4 data-toggle="collapse" data-target="#catCol" class="list-group-item-heading text-center notextselect" style="margin-bottom:20px; cursor: pointer">C<i class="fa fa-codepen"></i>tegories</h4>
                    <div id="catCol" class="collapse in">
                        @foreach (var c in category)
                        {
                            <a href="#" class="list-group-item">@c.Name</a>
                        }
                    </div>
                </div>
                <div class="col-lg-12 hidden-sm hidden-xs" style="border:1px solid lightgrey;height:560px"><center>PROMOTIONAL / ADVERTISMENT</center></div>
            </div>

            <!-- RIGHT SECTION -->
            <div id="bait" class="pub_300x250" style="color: #fff">.</div>
            @RenderBody()

        </div>
    </div>



    <!-- Bottom Bar / Footer -->
    <br />
    <footer class="navbar navbar-default" style="margin:0px">
        <div class="container">

            <p class="navbar-text pull-left notextselect" style="color:antiquewhite; cursor:default">Copyrights &copy; Arslan Ameer | All Rights Reserved</p>

            <ul class="nav navbar-nav">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Partners</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Payment Methods</a></li>
            </ul>

            <a href="#" class="navbar-btn btn-default btn pull-right"><span class="glyphicon glyphicon-menu-up"></span></a>

            <div class="navbar-text pull-right">
                <ul class="nav nav-pills" style="color:antiquewhite">
                    <li> <span class="fa fa-cc-visa"> </span> </li>
                    <li> <span class="fa fa-cc-mastercard"> </span> </li>
                    <li> <span class="fa fa-cc-amex"> </span> </li>
                    <li> <span class="fa fa-cc-paypal"> </span> </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Scripting Here -->

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/roar.min.js"></script>
    <script src="~/Scripts/notificon.js"></script>
    <script src="~/Scripts/notifier.min.js"></script>

    <script type="text/javascript">
        $(function () {

            // --> RESPONSIVNESS of Main LIST ITEMS

            var listcamCol;
            var listcatCol;
            if (matchMedia) {
                listcamCol = document.getElementById("camCol");
                listcatCol = document.getElementById("catCol");
                const mq = window.matchMedia("(min-width: 1024px)");
                mq.addListener(widthChange);
                widthChange(mq);
            }
            function widthChange(mq) {
                if (mq.matches) {
                    listcamCol.classList.add("in");
                    listcamCol.style.textAlign = "left";
                    listcatCol.classList.add("in");
                    listcatCol.style.textAlign = "left";
                } else {
                    listcamCol.classList.remove("in");
                    listcamCol.style.textAlign = "center";
                    listcatCol.classList.remove("in");
                    listcatCol.style.textAlign = "center";
                }
            }

            // --> Ad-BLOCKER Detector for Forcing Googel Analytics Tracking On

            if (document.getElementById("bait").offsetHeight === 0) {

                var roarOpt = {
                    cancel: true,
                    cancelText: "Ignore",
                    confirm: true,
                    confirmText: 'Reload',
                    confirmCallBack: function (event) {
                        location.reload();
                    }
                }

                window.roar("<strong>Ad-Blocker Detected</strong>",
                    "Please Disable Ad-Ablocker Extension in your Browser if you do not want to see this pop-up again." +
                    "<br/>Ad-Blockers prevents us in improving your experience" +
                    "<br/> <u>DISABLE</u> Ad-Blocker <u>and</u> Click <u>Reload!</u>", roarOpt);
            }

            // --> Lahore Weather API Call

            const apiKey = "4a9232de37b1880944eb4e365aa69011";
            const url = `https://api.openweathermap.org/data/2.5/weather?APPID=${apiKey}&units=metric&q=lahore,pk`;

            var temp = document.querySelector(".lahore-temp");

            function apiCall() {
                fetch(url).then((response) => {
                    return response.json();
                }).then((data) => {
                    temp.innerHTML = data.main.temp_max + "&deg;C";
                }).catch((error) => {
                    console.log(error);
                });
            };

            setInterval(apiCall, 30000);

            // --> CART Handling Here

            $.ajax(
                {
                    url: "/Cart/ItemsCount",
                    type: "get"
                }).done(function (itemscount) {
                    $("#cartitems").text(itemscount);
                    var notiOpt = {
                        favicon: ' /ImagesData/favicon/favicon.ico'
                    }
                    if (itemscount > 0) {
                        $(Notificon(itemscount));
                    }
                });

            $(".cartqtytxt").change(function () {
                var elt = $(this);
                var qty = elt.val();
                if (qty !== 0) {
                    var qs = "?id=" + $(this).data("pid") + "&qty=" + qty;
                    $.ajax({
                        url: "/Cart/UpdateToCart" + qs,
                        type: "get"
                    }).done(function (itemscount) {
                        $("#cartitems").text(itemscount);
                        if (itemscount > 0) {
                            $(Notificon(itemscount));
                        }
                    });
                }
            });

            $(".addcartbtn").click(function () {
                var obj = {
                    "Id": $(this).data("pid"),
                    "Name": $(this).data("pname"),
                    "Price": $(this).data("pprice"),
                    "Quantity": $(this).data("pqty"),
                    "ImageURL": $(this).data("purl"),
                    "Sale": $(this).data("psale")
                }
                $(this).parents("#proditem").fadeOut(100);
                $.ajax(
                    {
                        url: "/Cart/AddToCart",
                        type: "get",
                        data: obj
                    }
                ).done(function (itemscount) {
                    $("#cartitems").text(itemscount);
                    if (itemscount > 0) {
                        $(Notificon(itemscount));
                        notifier.show(obj.Name, 'Added to Your Cart Successfully!', 'success', obj.ImageURL, 7000);
                    }
                });

                $(this).parents("#proditem").fadeIn(100);
            });
        });
    </script>
    @RenderSection("myScript", false)

</body>
</html>
