@using FYProject1.Models
@model IEnumerable<CameraSummaryModel>

@if (Model != null)
{
    foreach (var p in Model)
    {
        <div id="proditem" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="thumbnail notextselect">
                <a href="@Url.Action("ProductDetail","Home", new { id = Convert.ToInt32(p.Id) })" class="img-thumbnail text-center center-block" style="padding: 20px; text-decoration:none; color:inherit">
                    <img name="sumimg" id="sumig" src="@Url.Content(p.image_Url)" alt="sumimg" /> <!--Thumbnail Image (first or Default Image)-->
                    <p style="font-weight: bold; height: 30px; padding: 10px 0;">@p.Title</p> <!--Main Title-->
                </a>
                <small id="brand"><a href="@Url.Action("ProductsByBrand","Home",new { id = p.Brand_Id })" class="text-muted" style="text-decoration:none">@p.Brand</a></small> <!-- Brand -->
                @if (p.Sale != 0)
                {
                    <p class="label label-default pull-right">@p.Sale% off</p> <!-- Sale Percentage -->
                }
                <br />
                <small id="rating" class="" style="color:inherit">&#9733; &#9733; &#9733; &#9733; &#9734;</small><br /> <!-- Rating Stars -->
                @*<p class="longtexthidden">One of the Best.On the top of Professional FX series in whole nikon series.2nd of the Best.On the top of Professional FX seriesin whole nikon series</p>*@
                @*<a href="#"> read more</a>*@

                <div style="padding: 10px 0">
                    <p>
                        <a href="#" class="text-muted" style="text-decoration:none"> @p.Level</a> <br /> <!-- Level -->
                        <a href="#" class="text-muted" style="text-decoration:none"> @p.Series</a> <!--Camera Series -->
                    </p>
                </div>

                <div style="height: 40px">
                    <strong><i class="glyphicon glyphicon-minus"></i> @p.Kit</strong>  <!--Kit Includes-->
                </div>

                <hr style="margin-bottom:5px">
                <div class="row">
                    <div class="col-lg-12">
                        @if (p.Sale != 0)
                        {
                            <div style="height: 50px">
                                <p class="text-center" style="font-size: 22px;color:#333"><strike style="font-size:small" class="text-muted">Rs @($"{p.Price:N0}")</strike> Rs @($"{p.Price - (p.Price * p.Sale / 100):N0}")</p>
                            </div>

                        }
                        else
                        {
                            <div style="height: 50px">
                                <p class="text-center" style="font-size: 22px;color:#333">Rs @($"{p.Price:N0}")</p> <!-- Price -->
                            </div>

                        }
                    </div>
                    <div class="col-lg-12">
                        <button class="btn btn-default btn-block addcartbtn" type="button" data-pid="@p.Id" data-pname="@p.Title" data-pprice="@p.Price" data-psale="@p.Sale" data-purl="@p.image_Url" data-pqty="1"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    }
}