@model FYProject1Classes.UserMgmt.User

@{
    ViewBag.Title = "🚨 User " + @Model.FullName + " Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="list-group-item-heading text-center notextselect">User Managment</h3>

<h3>Are you sure you want to delete this User?</h3>
<div class="col-lg-9">
    <h4>Delete User @Model.FullName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Male)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Male)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Female)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Female)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "UserManagment")
        </div>
    }
</div>
